{% extends 'base.html' %}

{% block title %}Authors List{% endblock %}

{% block content %}
    <h1>Author List</h1>


    <!-- Display Author List -->
    <table>
        <thead>
            <tr>
                <th>Author Name</th>
                <th>Book Count</th>
         

            </tr>
        </thead>
        <tbody>
            {% for author in authors_with_book_count %}
                <tr>
                    <td>
        
                        <a href="{% url 'author_detail' author.id %}">{{ author.author_name }}</a>
                    </td>
                    <td>{{ author.book_count_value }}</td>
            
                    
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Styles -->
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .filter-form {
            margin-bottom: 20px;
        }

        .filter-form input, .filter-form select {
            padding: 8px;
            margin-right: 10px;
        }

        .filter-form button {
            padding: 8px 12px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

        .filter-form button:hover {
            background-color: #45a049;
        }

        .reset-button {
            background-color: #f44336;
        }

        .reset-button:hover {
            background-color: #d32f2f;
        }

        a {
            text-decoration: none;
            color: #2850a7;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
{% endblock %}
